<%= simple_form_for(User.new, as: 'user') do |f| %>
  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.input :email, label: "Email" %>
  <%= f.input :password, label: "Password", required: true %>
  <%= f.input :password_confirmation, label: "Password Confirmation", required: true %>
  <div class="modal-footer">
    <%= f.button :submit, class: "btn btn-success" %>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    <hr />
    <%= link_to sign_in_with_google_path do%>
      <div class="btn-lg btn-block btn-social btn-google text-center google-button">
        <span class="fa fa-google"></span> Sign up with Google
      </div>
    <% end %>
    <%= link_to sign_in_with_facebook_path do%>
      <div class="btn-lg btn-block btn-social btn-facebook text-center facebook-button">
        <span class="fa fa-facebook"></span> Sign up with Facebook
      </div>
    <% end %>
  </div>
<% end %>
